body {
    background-color: burlywood;
    width: 100%;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}
header {

    border: 1px solid black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
    background-color: brown;
    line-height: 0.5;
    }
    .chessboard {
        margin-left: 2em;
        margin-top: 1em;
        width: 500px;
        height: 500px;
        border: 15px solid rgb(37, 37, 37);
    }
    .black {
        float:left;
        width: 100px;
        height: 100px;
        background-color: rgb(114, 108, 108);
        font-size: 70px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .white {
        float:left;
        width: 100px;
        height: 100px;
        background-color: #fff;
        font-size: 70px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .cont{
       display: flex;
       flex-direction: row;
       gap: 13%;
    }
    .login{
    margin-top: 4em;
    color: white;
    font-size: 20px;
    background-color: rgba(112, 66, 44, 0.062);
    height: 100%;
    padding: 2em;
    border: 1px solid brown;
    }

    input{
        padding: 1em;
        border-radius: 15px;
        border: 1px solid black;
    }
    label{
        font-weight: 600;
    }
    button{
        background-color: rgb(119, 31, 31);
        font-size: 19px;
        margin-left: 8em;
        color: white;
        border-radius: 30px;
        padding: 0.5em;
        width: 4.5em;
        cursor: pointer;
    }
    button:hover{
        background-color: rgba(136, 35, 35, 0.932);
        transition-duration: 0.4s;
        
    }
      
  input:focus:invalid {
    border-color: hsl(0, 100%, 74%) ;
    background-color: #fff;
    border-width: 3px;
    
  }
input:valid {
    border: 3px solid hsl(154, 59%, 51%);
} 
@media (min-width: 350px) and (max-width: 800px) {
    body{
   

        width: 100%;
        height: 100vh;
    }
    .cont{
        display: flex;
        flex-direction: column;
    }
    .login{
        border: 0px solid brown;
        }
        .chessboard {
            margin-left: 1em;

            border: 15px solid rgb(37, 37, 37);
        }
}